.case-studies{
    background: url("../../../../../assets/vivid-waves.jpg") no-repeat;
    width: 100%;
    background-size: cover;
    margin-top: 140px;
    padding-top: 70px;
    padding-bottom: 50px;
    z-index: 1;
    position: relative;
}
.first-comp{
    width: 450px;
    height: 340px;
}
.second-comp{
    width: 455px;
    height: 357px;
}
.third-comp{
    width: 524px;
    height: 340px;
}
.case-studies-header{
    color: white;
    font-size: 48px;
    font-weight: 700;
}
.case-studies-text{
    color: white;
    font-size: 18px;
}
.case-studies-link{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}