.nav-bar{
    height: 80px;
    background: white;
    font-weight: 400;
    font-size: 17px;
}
.nav-item:hover{
    color: #ff5b16;
}
.nav-item{
    color: black;
    text-decoration: none;
}
.active-page{
    color: #ee03d9;
}
.active-page:hover{
    color: #ee03d9;
}